<div class="bg-secondary container text-white rounded-2">
          <h3>ABOUT ME</h3>
          <div class="row align-items-start">
            <div class="col">
              Bilal Hamid <br>
              647-575-5975 <br>
              bilabdellah@gmail.com<br>
            </div>
            <div class="col m-3">
              <img src="/Assets/images/pro (6).jpeg" alt="Profile pic" style="width:370px"/>
              <style>
                img {
                  border-radius: 30%;
                }
                </style>
            </div>
            <a class="btn btn-outline-dark align-self-center" href="/Assets/Resume.pdf">About Me</a>
        </div>