
<% title="Contact"; %>
    <div class="bg-secondary container text-white rounded-4">
      <h3>ABOUT ME</h3>
      <div class="row align-items-start">
        <div class="col">
          Bilal Hamid 	<br> 
          647-575-5975 <br>
          bilabdellah@gmail.com<br>
        </div>
        <div class="col">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">First Name</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contact Number</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            
            <button type="submit" class="btn btn-primary"><a href="/" class="text-white">Send</a></button>
          </form>
          
        </div>
      </div>
      <br><br><br>
      <% }  else  { %>
        
        
    <% } %> 
  
</div>
</main>