<% }  else  { %>
            
    <% } %> 
    
  <% if (title == "Services") { %>
    <div class="bg-secondary container text-white rounded-4">
      <h3>services</h3>
      <div class="row align-items-center">
        <div class="col">
          <ul>
            <img src="/Assets/images/pro (8).jpeg" alt="Profile pic" style="width:250px"/>
            <li>general 
              programming</li><nobar>
              <ul>
                <li>JAVA</li>
                <li>C++</li>
                <li>Python</li>
                <li>C#</li>
              </ul>
              <img src="/Assets/images/pro (9).jpeg" alt="Profile pic" style="width:250px"/>
              <li>web development</li>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>JAVASCRIPT</li>
                <li>React</li>
                <li>Angular</li>
              </ul>
              <img src="/Assets/images/pro (10).jpeg" alt="Profile pic" style="width:250px"/>
                <li>mobile apps</li>
                <ul>
                  <li>Android</li>
                  <li>iOS</li>
                  <li>Cross-Platform</li>
                </ul>
          </ul>
        </div>
        </div>
    </div>